@import '../../sass/variables.scss';

.home{

    &__carousel-wrapper{
        margin-bottom: 6em;
        
        .home__carousel{
            width: 100% !important;
            height: 100% !important;
            background-color: $gray;
            display: flex;

            .carousel__item-cnt{
                width:100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .carousel__item{
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width:60%;
                height: 750px;
                transition: .4s;

                &:hover{
                    transition: .4s;
                    opacity: .7;
                }

                
            }

            .img-overlay{
                cursor: pointer;
                position: absolute;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width:900px;
                bottom:-50px;
                left:50%;
                transform: translate(-50%,-50%);
                font-weight: 600;
                display: flex;
                padding:2em 2em;
                background-color: rgba(0,0,0,.8);

                h2{
                    margin-bottom: .5em;
                    color: $green;
                }

                &__goal{
                    width:50%;
                    margin:1.2em 0em;
                    display: flex;
                    align-items: center;
                    
                    .procentage{
                        margin-left: .5em;
                    }

                    .progress-bar{
                        position: relative;
                        overflow: hidden;
                        width:100%;
                        height: 30px;
                        border-radius: 50em;
                        background-color: white;
                        border: 2px solid white;

                        &__total{
                            position: absolute;
                            color:$gray;
                            width:100%;
                            text-align: center;
                            left:50%;
                            top:50%;
                            font-weight:900;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .progress-bar-full{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 100%;
                        height: 30px;
                        background-color: $green;
                        width:0%;
                    }
                }
                
                p{
                    text-align: justify;
                    color:white;
                }
            }
        }
    }

    &__about-us{
        margin: 5em 0em;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: $green;
            font-size: 52px;
            margin-bottom: 1em;
        }

        .about-us__items-cnt{
            display: flex;
            flex-direction: column;

            .about-us__item{
                max-width: 800px;
                font-size: 20px;
                display: flex;
                align-items: center;
                margin: 1em 0em;
                text-align: justify;
            
            
                i{
                    color: $green;
                    margin: 0em .5em;
                    font-size: 76px;
                }

                p{
                    font-size: 19px;
                    text-align: justify;
                    font-weight: bolder;
                }
            }
        }
    }

    &__explore{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom:10em;

        &__btns-cnt{
            display: flex;
            justify-content: center;
        }

        &__btn{
            cursor: pointer;
            display: flex;
            justify-content: center;
            width:190px;
            background-color: $green;
            color:white;
            padding:1.2em 2em;
            font-size: 20px;
            margin:0em 2em;
            border: none;
            box-shadow: 0 0px 10px rgba(0,0,0,.4);
            transition: .25s;

            &:hover{
                background-color: $green-hover-light;
                transition: .25s;
            }
        }

        h2{
            color: $green;
            font-size: 53px;
            margin: 1.2em 0em;
        }
    }

}