.home__carousel-wrapper {
  margin-bottom: 6em;
}

.home__carousel-wrapper .home__carousel {
  width: 100% !important;
  height: 100% !important;
  background-color: #32404e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__carousel-wrapper .home__carousel .carousel__item-cnt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__carousel-wrapper .home__carousel .carousel__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 750px;
}

.home__carousel-wrapper .home__carousel .img-overlay {
  position: absolute;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 900px;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 600;
  display: flex;
  padding: 2em 2em;
  background-color: rgba(0, 0, 0, 0.8);
}

.home__carousel-wrapper .home__carousel .img-overlay h2 {
  margin-bottom: .5em;
  color: #02a95c;
}

.home__carousel-wrapper .home__carousel .img-overlay__goal {
  width: 50%;
  margin: 1.2em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__carousel-wrapper .home__carousel .img-overlay__goal .procentage {
  margin-left: .5em;
}

.home__carousel-wrapper .home__carousel .img-overlay__goal .progress-bar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30px;
  border-radius: 50em;
  background-color: white;
  border: 2px solid white;
}

.home__carousel-wrapper .home__carousel .img-overlay__goal .progress-bar__total {
  position: absolute;
  color: #32404e;
  left: 50%;
  top: 50%;
  font-weight: 900;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home__carousel-wrapper .home__carousel .img-overlay__goal .progress-bar-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 30px;
  background-color: #02a95c;
  width: 0%;
}

.home__carousel-wrapper .home__carousel .img-overlay p {
  text-align: justify;
  color: white;
}

.home__about-us {
  margin: 5em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__about-us h2 {
  color: #02a95c;
  font-size: 52px;
  margin-bottom: 1em;
}

.home__about-us .about-us__items-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__about-us .about-us__items-cnt .about-us__item {
  max-width: 800px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0em;
  text-align: justify;
}

.home__about-us .about-us__items-cnt .about-us__item i {
  color: #02a95c;
  margin: 0em .5em;
  font-size: 76px;
}

.home__about-us .about-us__items-cnt .about-us__item p {
  font-size: 19px;
  text-align: justify;
  font-weight: bolder;
}

.home__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10em;
}

.home__explore__btns-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__explore__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 190px;
  background-color: #02a95c;
  color: white;
  padding: 1.2em 2em;
  font-size: 20px;
  margin: 0em 2em;
  border: none;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  -webkit-transition: .25s;
  transition: .25s;
}

.home__explore__btn:hover {
  opacity: .8;
  -webkit-transition: .25s;
  transition: .25s;
}

.home__explore h2 {
  color: #02a95c;
  font-size: 53px;
  margin: 1.2em 0em;
}
/*# sourceMappingURL=Home.css.map */