@import '../../sass/variables.scss';

.home{

    &__carousel-wrapper{
        margin-bottom: 6em;
        
        .home__carousel{
            width: 100% !important;
            height: 100% !important;
            background-color: $gray;
            display: flex;

            .carousel__item-cnt{
                width:100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .carousel__item{
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width:60%;
                height: 750px;
            }

            .img-overlay{
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width:900px;
                bottom:0px;
                left:50%;
                transform: translate(-50%,-50%);
                font-weight: 600;
                display: flex;
                padding:2em 2em;
                background-color: rgba(0,0,0,.7);
                
                h2{
                    margin-bottom: 1em;
                    color: $green;
                }
                
                p{
                    text-align: justify;
                    color:white;
                }
            }
        }
    }

    &__about-us{
        margin: 5em 0em;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: $green;
            font-size: 53px;
            margin-bottom: 1em;
        }

        .about-us__items-cnt{
            display: flex;
            flex-direction: column;

            .about-us__item{
                max-width: 650px;
                display: flex;
                align-items: center;
                margin: 1em 0em;
                text-align: justify;
            
            
                i{
                    color: $green;
                    margin: 0em .5em;
                    font-size: 70px;
                }

                p{
                    text-align: justify;
                    font-weight: bolder;
                }
            }
        }
    }

}