@import '../../sass/variables.scss';

.navbar{
    padding:.8em 2em;
    border-bottom: 1px solid rgb(230, 230, 230);

    &__items{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:100%;
    }

    &__logo{
        display: flex;
        justify-content: center;
        margin-left: 3em;

        a{
            width:100%;
            padding:0em .6em;
            text-decoration: none;
            color: $green;
            font-size: 35px;
            font-weight: 500;
            font-family: 'Pacifico', cursive;
            transition: .3s;

            &:hover{
                opacity: .7;
                transition: .3s;
            }
        }
    }

    &__links{
        display: flex;
        justify-content: center;
        align-items: center;
        width:fit-content;
        margin-left: auto;
        margin-right: 14em;

        li{
            list-style-type: none;
            margin:0em .8em;

            a{
                text-decoration: none;
                color: $green;
                font-size: 17px;
                font-weight: 600;
                padding:1em;
                transition: .25s;

                &:hover{
                    opacity: .7;
                    transition: .25s;
                }
            }

            .explore{
                display: flex;
                width:90px;
                height: 12px;
                box-shadow: 0 0 10px rgba(0,0,0,.4);
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                color:white;
                font-weight: lighter;
                background-color: $green;
                transition: .25s;
            }
        }
    }
}