@import '../../sass/variables.scss';

.navbar{
    padding:.8em 2em;
    border-bottom: 1px solid rgb(230, 230, 230);

    &__items{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:100%;
    }

    &__logo{
        display: flex;
        justify-content: center;
        margin-left: 3em;

        a{
            width:100%;
            padding:0em .6em;
            text-decoration: none;
            color: $green;
            font-size: 35px;
            font-weight: 500;
            font-family: 'Pacifico', cursive;
            transition: .3s;

            &:hover{
                color:$green-hover-light;
                transition: .3s;
            }
        }
    }

    &__links{
        display: flex;
        justify-content: center;
        align-items: center;
        width:fit-content;
        margin-left: auto;
        margin-right: 14em;
        transition: .25s;

        &__normal{
            margin-right: 1.5em;
            transition: .25s;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                    padding: .5em .8em;
                    color:$green;
                    font-weight: 700;
                    
                    &:hover{
                        color: $green-hover-light;
                        transition: .25s;
                    }
                }
            }
        }
        
        &__dropdown{
            display: flex;
            
            .dropdown{
                position: relative;
                color:$green;
                display: flex;
                align-items: center;
                list-style: none;
                font-weight: 700;
                padding: .5em .8em;
                cursor: pointer;
                transition: .3s;

                &:hover{
                    color:$green-hover-light;
                    transition: .3s;
                }
                .dropdown-icon{
                    margin-left: .4em;
                    transition: .3s;
                }
                
                &:hover .links{
                    opacity: 1;
                    visibility: visible;
                    display: flex;
                    flex-direction: column;
                    transition: .3s;

                }

                &:hover .dropdown-icon{
                    transform: rotate(180deg);
                    transition: .3s;
                }
                
                .links{
                    opacity: 0;
                    visibility: hidden;
                    background-color: $green;
                    position: absolute;
                    width:150px;
                    top:100%;
                    z-index: 1000;

                    .link{
                        color:$green;
                        list-style: none;
                        font-weight: 700;
                        width: 100%;
                        transition: .25s;

                        &:hover{
                            background-color: $green-hover-dark;
                            transition: .25s;
                        }
                        
                        a{
                            display: flex;
                            color:white;
                            align-items: center;
                            padding:.8em .5em;
                            text-decoration: none;
                            width: 100%;
                        }

                    }
                }
            }

            
        }

    }  
}      